.upper {
    text-transform: uppercase;
}

body {
    margin: 0;
}

.box-body h2 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.box-body p {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

#box {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

.box-body {
    padding: 16px 72px;
    height: 108px;
    display: flex;
    justify-content: space-around;
    box-shadow: 28px 15px 20px black;
    align-items: center;
}

.box-body .close {
    position: absolute;
    right: 32px;
    top: 8px;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

.box-body .col-1 {
    width: 70%;
}

.box-body .col-1 img {
    margin-right: 8px;
    height: 88px;
}

.col-2 {
    width: 30%;
}

.box-body .button_adicionar {
    text-transform: uppercase;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    font-weight: bold;
    text-align: center;
    padding: 16px 72px;
    float: right;
    cursor: pointer;
    transition: .3s;
}

.box-body .button_adicionar:hover {
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

@media only screen and (max-width: 992px) {
    .box-body .col-1 {
        width: 60%;
    }
    .box-body .col-1 img {
        height: 118px;
    }
    .box-body .col-2 {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    #box {
        display: none;
    }
}